extends layout

block content
  h1= title
  p Welcome to #{title}
  br
  h4 Click on a username to view their profile:
  ul
    each profile in users
      li
        a(href='/'+profile.username)= profile.username
  br
  include login